body {
    font-family: 'Roboto', sans-serif !important;
   
}
 .mynav{
    height: 90px;
    background-color: white !important;
    box-shadow: 1px 0px 2px gray;
   border : 0; 
}
.nav-item{
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #384158 !important;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    margin-left: 10px;
}
.active-nav-item{
  color:   #14bdee !important;
  border-bottom: 4px solid #14bdee;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
      pointer-events: none;
  }
  .dropdown-item:hover{
    background: #14bdee !important;
    color: white !important;
  }
  .header{
background: #14bdee;
color : white;
height : 50px;
display: flex;
padding-left: 5%;
font-size: 14px;
font-weight: 100;

align-items: center;
;
  }
  .header div{
    margin-left: 15px;
    margin-right: 15px;
  }
  .header  > span{
    width : 0;
    height : 80%;
    border-left : 1px solid rgba(0,0,0,0.3);
  }
 
  .courses-dropdown-item:hover  .courses-dropdown{
    display: flex;
  }

  .justify-content-center .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
 }
 
 .jumbotron{
   padding : 0;
   padding-bottom: 100px;
 }
 .carousel-caption{
   transform: translate(0,-200px);

 }
 .carousel-caption h1{
   text-shadow: 0 0 1px black;
   background: rgba(0,0,0,0.3);
 }
 .news{
   display: flex;
   justify-content: center;
   padding : 5px;
   width: 100%;
   margin-bottom: 15px;
 }
 .news-img{
   width: 33%;
 }
 .news-content{
   padding-left: 15px;
 }
 .news-content h6{
   font-weight: bolder;
   margin :0;
   margin-bottom: 4px;
 }
 .news-content p{
  font-size: 14px;
  color: rgba(0,0,0,0.7);
}
.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  background: gray;
}
.btn-circle:hover{
  background: #14bdee;
}

.btn-circle span {
  position: relative;
  top: 2px;
  left : -2px
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

.section_title{
  text-align: center!important;
 
    font-weight: 700;
    color: #384158;
    line-height: 1.2;
    font-size: 36px;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    margin-bottom: 50px;
}

.section_sub_title{
  
    font-size: 14px;
    line-height: 1.85;
    font-weight: 400;
    color: #76777a;
    text-align: center;
    width : 70%;
   
}
.mycard img{
  max-height: 220px;

}
.mycard{
  width: 300px;
}

/*xs*/

@media (max-width: 576px) { 
  
  .dropdown{
    background: white;
    z-index: 99;
  }
  .navbar-nav{
    background: white;
    z-index: 99;
      }
      
 }
/*sm*/
@media (min-width: 576px) { 
 
  .dropdown{
    background: white;
    z-index: 99;
  }
  .navbar-nav{
    background: white;
    z-index: 99;
      }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  
 
  .dropdown{
    background: white;
    z-index: 99;
  }
  .navbar-nav{
    background: white;
    z-index: 99;
      }
 
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }