body {
    font-family: 'Roboto', sans-serif !important;
   
}
 .mynav{
    height: 90px;
    background-color: white !important;
    box-shadow: 1px 0px 2px gray;
    
}
.nav-item{
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #384158 !important;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    margin-left: 10px;
}
.active-nav-item{
  color:   #007bff !important;
  border-bottom: 4px solid #007bff;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
      pointer-events: none;
  }
  .dropdown-item:hover{
    background: #007bff !important;
    color: white !important;
  }
  .header{
background: #007bff;
color : white;
height : 30px;
display: flex;
padding-left: 5%;
font-size: 14px;
font-weight: 100;

align-items: center;
;
  }
  .header div{
    margin-left: 15px;
    margin-right: 15px;
  }
  .header  > span{
    width : 0;
    height : 80%;
    border-left : 1px solid rgba(0,0,0,0.3);
  }
 
  .courses-dropdown-item:hover  .courses-dropdown{
    display: flex;
  }

  .justify-content-center .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
 }
 
 .jumbotron{
   padding : 0;
   padding-bottom: 100px;
 }
 .carousel-caption{
   transform: translate(0,-200px);

 }
 .carousel-caption h1{
   text-shadow: 0 0 1px black;
   background: rgba(0,0,0,0.3);
 }
 .news{
   display: flex;
   justify-content: center;
   padding : 5px;
   width: 100%;
   margin-bottom: 15px;
 }
 .news-img{
   width: 33%;
 }
 .news-content{
   padding-left: 15px;
 }
 .news-content h6{
   font-weight: bolder;
   margin :0;
   margin-bottom: 4px;
 }
 .news-content p{
  font-size: 14px;
  color: rgba(0,0,0,0.7);
}